---
const base = import.meta.env.BASE_URL;

const pathname = Astro.url.pathname;
const segments = pathname.split("/").filter(Boolean);

const currentLocale = pathname.indexOf("/vi") !== -1 ? "vi" : "en";
const otherLocale = currentLocale === "en" ? "vi" : "en";

segments[0] = otherLocale;
const switchUrl = `${pathname.replace(`/${currentLocale}`, `/${otherLocale}`)}`;
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My blog</title>
	</head>
	<body>
		<header style="padding: 20px;">
			<a href={switchUrl}>
				Switch to {otherLocale.toUpperCase()}
			</a>
		</header>

		<slot />
	</body>
</html>